{% extends "Admin/Adminindex.html" %}

{% block body %}
<body>
    <style>
th, td {
  border: 1px solid black;
    border-color: #96D4D4;
}
</style>
<form action="/Myapp/view_paymentstatus_search/" method="post">
    {% csrf_token %}

<h2 align="center">Payment Status</h2>
    <br>
    <br>
<table class="table table-striped table-dark">
 <tr>
    <td><input name="search" type="text" /></td>
    <td><input name="input" type="submit" value="Search" class="btn btn-success" /></td>
  </tr>
</table>
<table class="table table-striped table-dark">
  <tr>
    <th>SL No</th>
    <th>Product Name</th>
    <th>Photo</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Quantity</th>
    <th>Status</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.PRODUCT.Product_Name }}</td>
    <td>&nbsp;<img src="{{ i.PRODUCT.Image }}" height="100" width="100" alt=""/></td>
    <td>{{ i.ORDER.Date }}</td>
    <td>{{ i.ORDER.Amount}}</td>
    <td>&nbsp;{{ i.Quantity }}</td>
    <td>{{  i.ORDER.status}}</td>
{#    <td>{{ i.post }}<br>{{ i.pin }}<br>{{ i.district }}</td>#}
    <td><a href="/Myapp//{{ i.id }}" class="btn btn-info btn-group-toggle fa fa-edit">Generate Bill</a></td>
{#   <td><a href="/myapp/delete_bookingdetails/{{ i.id }}" onclick="return confirm('Do you want to delete?')" class="btn btn-danger btn-group-toggle fa fa-trash"></a></td>#}
  </tr>
    {% endfor %}
</table>

</form>
</body>
{% endblock %}
{#</html>#}
