<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
       <style>
th, td {
  border: 2px solid black;
    border-color: #96D4D4;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends "Admin/Adminindex.html" %}

{% block body %}

<body><form action="/Myapp/ViewUser_post/" method="post">
    {% csrf_token %}

<h2 align="center">View Users</h2>
    <br>
    <br>
    <table class="table table-striped table-light">
  <tr>
    <th width="104" scope="row"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></th>
    <td width="80"><input type="submit" name="button" id="button" value="Search" class="btn btn-success" /></td>
  </tr>
{#</table><table table class="table table-bordered">#}
{#  <tr>#}
{#    <th scope="row">&nbsp;</th>#}
{#    <td>&nbsp;</td>#}
{#  </tr>#}
{#</table>#}
<table class="table table-striped table-light" border="1px solid">
  <tr style="background-color: #cce5ff">
    <th scope="row">SL No</th>
{#    <td>Photo</td>#}
    <th>UserName</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Dob</th>
    <th>Gender</th>
    <th>Place</th>
    <th>District</th>
    <th>Pincode</th>
    <th>LandMark</th>
    <th>Photo</th>

  </tr>
     {% for i in data %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
{#    <td>{{ i.User }}</td>#}
    <td>{{ i.UserName }}&nbsp;</td>
    <td>{{ i.Email }}&nbsp;</td>
    <td>{{ i.Phone }}&nbsp;</td>
    <td>{{ i.Dob }}&nbsp;</td>
    <td>{{i.Gender}}</td>
    <td>{{ i.Place}}</td>
    <td>{{ i.District}}</td>
    <td>{{ i.Pincode}}</td>
    <td>{{ i.Landmark }}</td>
    <td><img src="{{ i.Photo }}" height="100px" width="100px"> </td>
{#    <td><a href="/Myapp/ViewUser/{{ i.id }}" class="btn btn-warning">View</a></td>#}
  
  </tr>
    {% endfor %}
</table>

</form>
</body>
{% endblock %}
</html>
